body {font-family: sans-serif;
  font-size: 10pt;
}
p { margin: 0pt; }
table.items {
  border: 0.1mm solid #000000;
  width : 100%;
  font-size: 9pt; 
  border-collapse: collapse; 
}
td { vertical-align: top; }
.items td {
  border: 0.1mm solid #000000;
}
table thead td { background-color: #EEEEEE;
  text-align: center;
  border: 0.1mm solid #000000;
  font-variant: small-caps;
}
.items td.blanktotal {
  background-color: #EEEEEE;
  border: 0.1mm solid #000000;
  background-color: #FFFFFF;
  border: 0mm none #000000;
  border-top: 0.1mm solid #000000;
  border-right: 0.1mm solid #000000;
}
.items td.totals {
  text-align: right;
  border: 0.1mm solid #000000;
}
.items td.cost {
  text-align: "." center;
}
.items td.info {
  color: green;
}
.projectName {
  font-weight: bold; 
  font-size: 12pt;
}
table.client {
  margin-left: 300pt;
  width : 100%;
  font-family: serif;
}