{% extends "base.exp.html.twig" %}
 {% block body %}
     <div class="content" style="width: 90%;left: 20%;">

         <div class="login-box-body">
             <p class="login-box-msg"><h1>Oups ! Une erreur a été détectée</h1></p>
             <p class="login-box-message"><small>Mais nous allons régler ce problème :)</small></p>



         </div>
         <div class="row">
             <div class="col-xs-12 text-center">
                 <h3>Une erreur très technique a été détectée. Vous pouvez nous contacter afin que l'on règle ce problème rapidement. <a href="mailto:developers@iumio.com">developers@iumio.com</a></h3>
             </div>
         </div>
     </div>
 {% endblock %}