{% extends "base.exp.html.twig" %}
 {% block body %}
     <div class="content" style="width: 90%;left: 20%;">

         <div class="login-box-body">
             <p class="login-box-msg"><h1>Oups ! Une erreur a été détectée</h1></p>
             <p class="login-box-message"><small>Mais nous allons régler ce problème :)</small></p>



         </div>
         <div class="row">
             <div class="col-xs-12 text-center">
                 <h3>Vous n'êtes pas autorisé à accéder à cette resource car vous n'êtes pas connecté</h3>
             </div>
         </div>
     </div>
 {% endblock %}