{% extends "base.exp.html.twig" %}
 {% block body %}
     <div class="content" style="width: 315px; left: 41%">

         <div class="login-box-body">
             <p class="login-box-msg"><h1>Oups ! Une erreur a été détectée</h1></p>
             <p class="login-box-message"><small>Mais nous allons régler ce problème :)</small></p>



         </div>
         <div class="row">
             <div class="col-xs-12 text-center">
                 <h3>La resource que vous essayer d'accéder n'existe pas ou n'est plus disponible.</h3>
             </div>
         </div>
     </div>
 {% endblock %}