 = '<htmlpageheader name="myheader">
    <table class="company">
        <tr>
            <td style="color:#0000BB;"><span style="font-weight: bold; font-size: 14pt;">'.$companyName.'</span>
                <br />'.$companyAdress.'<br />'. $companySite .'<br />
                <span style="font-family:dejavusanscondensed;">&#9742;</span>'. $companyTel .'</td>
            <td style="text-align: right;">Facture .<br /><span style="font-weight: bold; font-size: 12pt;">'. $factureNumber .'</span></td>
        </tr>
    </table>
</htmlpageheader>';

$htmlpagefooter = '<htmlpagefooter name="myfooter">
    <div class="htmlpgfooter">
        Page {PAGENO} of {nb}
    </div>
</htmlpagefooter>';


<html>
<head>
</head>
<body>
<!--mpdf'.$htmlpageheader.$htmlpagefooter.'

<sethtmlpageheader name="myheader" value="on" show-this-page="1" />
<sethtmlpagefooter name="myfooter" value="on" />
mpdf-->


<div style="text-align: right">Date: '.$date.'</div><br />

<table class="client" cellpadding="10">
    <tr>
        <td><span style="font-size: 10pt; color: #555555; font-family: sans;">CLIENT :</span>
            <br />'.$clientName.'<br />'.$clientAdress.'<br />
        </td>
    </tr>
</table><br />

<p class="projectName">Projet : '.$projectName.' </p><br />
<table class="items" cellpadding="10">
    <thead>
    <tr>
        <td width="15%">Quantite</td>
        <td width="50%">Description</td>
        <td width="15%">Prix Unit HT</td>
        <td width="20%" colspan="2">Prix Total HT</td>
    </tr>
    </thead>
    <tbody>
    {{ content }}
    </tbody>
</table>
</body>
</html>

