{% extends "BillAndGoBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Limitation par votre licence{% endblock %}

{% block fos_user_content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12 box box-edited">
                    <div class="callout callout-info">
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        <h5><i class="fa fa-info"></i> Vous ne pouvez pas effectuer cette action car vous utilisez actuellement de la version gratuite de Bill&Go et vous avez dépassé le quota pour cette action. <br> Vous êtes limité à 20 factures, 20 projets, 20 devis et 15 clients (<a href=" https://www.billandgo.fr/limitation-edition-standard/">Voir les limitation de la version standard</a>). <br> Si vous souhaitez profiter de fonctionnalités payantes et la suppression de ce message, Veuillez nous contacter <a href=" https://www.billandgo.fr/edition-premium/">ici</a></h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


{% endblock fos_user_content %}