#myjobmanagerbundle_devis,
#myjobmanagerbundle_bill {
    text-align: center;
}
#myjobmanagerbundle_devis_client,
#myjobmanagerbundle_bill_client,
#myjobmanagerbundle_project_client {
    margin-bottom: 25px;
}
#myjobmanagerbundle_devis_number,
#myjobmanagerbundle_bill_number,
#myjobmanagerbundle_project_name,
#myjobmanagerbundle_project_value,
#myjobmanagerbundle_client_companyName,
#myjobmanagerbundle_client_country {
    width: 50%;
    margin: 0 25% 25px;
}
#myjobmanagerbundle_devis_creation,
#myjobmanagerbundle_devis_validity,
#myjobmanagerbundle_bill_creation,
#myjobmanagerbundle_bill_paimentDate,
#myjobmanagerbundle_project_deadline {
    width: 210px;
    margin: 0 auto 25px;
}
#myjobmanagerbundle_devis_description,
#myjobmanagerbundle_bill_description,
#myjobmanagerbundle_project_description {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}
#myjobmanagerbundle_bill_lines>.form-group>div>.form-group:nth-child(3),
#myjobmanagerbundle_billline>.form-group:nth-child(3),
#myjobmanagerbundle_client_contacts>.form-group>div>.form-group:nth-child(4),
#myjobmanagerbundle_client_contacts>.form-group>div>.form-group:nth-child(5) {
    width: 20%;
    float: left;
}
#myjobmanagerbundle_devis_lines>.form-group>div>.form-group:nth-child(1),
#myjobmanagerbundle_devisline>.form-group:nth-child(1),
#myjobmanagerbundle_bill_lines>.form-group>div>.form-group:nth-child(1),
#myjobmanagerbundle_billline>.form-group:nth-child(1),
#myjobmanagerbundle_project_todo>.form-group>div>.form-group:nth-child(1),
#myjobmanagerbundle_todo>.form-group:nth-child(1),
#myjobmanagerbundle_bill_lines>.form-group>div>.form-group:nth-child(4),
#myjobmanagerbundle_billline>.form-group:nth-child(4),
#myjobmanagerbundle_bill_lines>.form-group>div>.form-group:nth-child(5),
#myjobmanagerbundle_billline>.form-group:nth-child(5),
#myjobmanagerbundle_client_contacts>.form-group>div>.form-group:nth-child(3) {
    width: 30%;
    float: left;
}

#myjobmanagerbundle_client_contacts>.form-group>div>.form-group:nth-child(1),
#myjobmanagerbundle_devis_lines>.form-group>div>.form-group:nth-child(3),
#myjobmanagerbundle_devisline>.form-group:nth-child(3),
#myjobmanagerbundle_devis_lines>.form-group>div>.form-group:nth-child(4),
#myjobmanagerbundle_devisline>.form-group:nth-child(4),
#myjobmanagerbundle_devis_lines>.form-group>div>.form-group:nth-child(5),
#myjobmanagerbundle_devisline>.form-group:nth-child(5),
#myjobmanagerbundle_devis_lines>.form-group>div>.form-group:nth-child(6),
#myjobmanagerbundle_devisline>.form-group:nth-child(6),
#myjobmanagerbundle_project_todo>.form-group>div>.form-group:nth-child(3),
#myjobmanagerbundle_todo>.form-group:nth-child(3),
#myjobmanagerbundle_project_todo>.form-group>div>.form-group:nth-child(4),
#myjobmanagerbundle_todo>.form-group:nth-child(4),
#myjobmanagerbundle_project_todo>.form-group>div>.form-group:nth-child(5),
#myjobmanagerbundle_todo>.form-group:nth-child(5),
#myjobmanagerbundle_project_todo>.form-group>div>.form-group:nth-child(6),
#myjobmanagerbundle_todo>.form-group:nth-child(6),
#myjobmanagerbundle_project_todo>.form-group>div>.form-group:nth-child(7),
#myjobmanagerbundle_todo>.form-group:nth-child(7),
#myjobmanagerbundle_project_todo>.form-group>div>.form-group:nth-child(8),
#myjobmanagerbundle_todo>.form-group:nth-child(8),
#myjobmanagerbundle_clientcontact>.form-group:nth-child(1),
#myjobmanagerbundle_clientcontact>.form-group:nth-child(4) {
    width: 50%;
    float: left;
}
#myjobmanagerbundle_client_contacts>.form-group>div>.form-group:nth-child(2),
#myjobmanagerbundle_clientcontact>.form-group:nth-child(2),
#myjobmanagerbundle_clientcontact>.form-group:nth-child(5) {
    width: 50%;
    float: right;
}
#myjobmanagerbundle_devis_lines>.form-group>div>.form-group:nth-child(2),
#myjobmanagerbundle_devisline>.form-group:nth-child(2),
#myjobmanagerbundle_bill_lines>.form-group>div>.form-group:nth-child(2),
#myjobmanagerbundle_billline>.form-group:nth-child(2),
#myjobmanagerbundle_project_todo>.form-group>div>.form-group:nth-child(2),
#myjobmanagerbundle_todo>.form-group:nth-child(2) {
    width: 70%;
    float: right;
}
#myjobmanagerbundle_devis_lines>.form-group>div>.form-group:nth-child(3),
#myjobmanagerbundle_devisline>.form-group:nth-child(3),
#myjobmanagerbundle_bill_lines>.form-group>div>.form-group:nth-child(3),
#myjobmanagerbundle_billline>.form-group:nth-child(3),
#myjobmanagerbundle_project_todo>.form-group>div>.form-group:nth-child(3),
#myjobmanagerbundle_todo>.form-group:nth-child(3),
#myjobmanagerbundle_client_contacts>.form-group>div>.form-group:nth-child(3) {
    clear: both;
}
#myjobmanagerbundle_devis_lines>.form-group>div:after,
#myjobmanagerbundle_devisline,
#myjobmanagerbundle_bill_lines>.form-group>div:after,
#myjobmanagerbundle_billline,
#myjobmanagerbundle_project_todo>.form-group>div:after,
#myjobmanagerbundle_todo{
    clear: both;
}
#myjobmanagerbundle_devis_lines>.form-group>a,
#myjobmanagerbundle_devisline_save,
#myjobmanagerbundle_bill_lines>.form-group>a,
#myjobmanagerbundle_billline_save,
#myjobmanagerbundle_project_todo>.form-group>a,
#myjobmanagerbundle_todo_save,
#myjobmanagerbundle_client_contacts>.form-group>a {
    margin-top:26px;
    float: right;
}

.img-profil
{
    width: 100%!important;
}

.img-profile-50
{
    width: 100px!important;
    margin: auto;
    margin-top: 5px;
}

.color-refused {
    color:red;
}
.color-accepted,
.color-paid {
    color:green;
}
.color-canceled {
    color:darkred;
}
.color-sent,
.color-partially {
    color:blue;
}
.color-grey {
    color:dimgrey;
}
h3 {
    text-transform: capitalize;
}
.third-block.estimate-block>.panel {
    height:370px;
    overflow: hidden;
}
.third-block.estimate-block>.panel>.panel-body>.tab-content>div {
    height:175px;
    overflow: hidden;
}