.privacy-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 1rem .5rem;
    background: #fff;
    z-index: 1030;
    color: #000;
    font-size: 14px;
    margin: 0;
    display: none;
}
.banner-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
}
.privacy-banner p {
    margin: 0;
    color: #000;
    text-align: center;
}
.privacy-banner .banner-wrapper p {
    padding-right: 3rem;
}
.privacy-banner a {
    text-decoration: none;
    margin: 20px auto 0 auto;
    display: block;
    max-width: 150px;
}
.privacy-banner a:hover {
    text-decoration: underline;
}
.privacy-banner button {
    position: absolute;
    right: 5px;
    top: calc(50% - 12.5px);
    color: #fff;
    outline: 0;
    height: 25px;
    width: 25px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.35rem;
    font-weight: 700;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    line-height: 1;
    background: #000;
    cursor: pointer;
}
.banner-learn {
    color: #000;
}
.banner-accept {
    padding: 7px 15px;
    color: #fff;
    border-radius: 5px;
    background: #000;
}

.login-footer {
    z-index: -1;
}

@media (min-width: 768px) {
    .privacy-banner {
        padding: 1.5rem .5rem;
    }
    .privacy-banner a {
        display: inline-block;
        margin: 0 10px;
    }
}







.popup1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hiden;
    transition: 0.64s ease-in-out;
}
.popup1-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 600px;
    width: 96%;
    height: 80%;
    background-color: #fff;
    -webkit-transform: rotate(32deg);
    transform: rotate(32deg);
    transition: 0.64s ease-in-out;
}
.popup1__photo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.popup1__photo img {
    width: auto;
    height: 100%;
}
.popup1__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 4rem;
}
.popup1__text h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #0a0a0a;
}
.popup1__text p {
    font-size: 0.875rem;
    color: #686868;
    line-height: 1.5;
}
.popup1:target {
    visibility: visible;
    opacity: 1;
}
.popup1:target .popup1-inner {
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.popup1__close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 0.875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0a0a0a;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}


.btn-danger-edited {
     background: #f43e2b;
     padding: 10px 16px;
     width: auto;
     font-weight: 600;
     text-transform: uppercase;
     font-size: 14px;
     color: #fff;
     line-height: 16px;
     letter-spacing: 0.5px;
     border-radius: 2px;
     box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
     border: 0;
     outline: 0;
     margin: 15px 15px 15px 0;
     transition: all 0.25s;
 }

.button-great {
    background: #0cbb00;
    padding: 10px 16px;
    width: auto;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
    margin: 15px 15px 15px 0;
    transition: all 0.25s;
}